@model Perfomans.Models.Evaluations

@{
    ViewData["Title"] = "Marks";
}


<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div style="margin-top:2em" class="container">
        <div class="row">
            <div class="col-sm">
                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Date)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Assessor)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Assessor.Name)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-sm">
                <input type="submit" class="SecondaryB" style="float:right" value="Save">
                @using (Html.BeginForm("Import", "Evaluations", FormMethod.Post, new { enctype = "multipart/form-data", id = Model.Id }))
                {
                    <div>
                        <input type="file" name="fileExcel" id="fileExcel" />>
                        <button type="submit" class="SecondaryB">Import from Excel</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <table style="margin-top:2em" class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>

                @foreach (Parameters parameters in ViewBag.Parameters)
                {
                    <th scope="col">
                        <p style=" margin-top:3.5em;font-size: 12px;transform: rotate(-90deg);filter: flipH flipV;height: 40px; width:30px">
                            @parameters.Name
                        </p>
                    </th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (User user in ViewBag.AllUsers)
            {
                <tr>

                    <td>
                        @user.Name <span> </span> @user.SourName
                    </td>

                    @foreach (UserParamEval paramEval in Model.UserParamEvals.Where(pe => pe.UserId == user.Id))
                    {
                        <td>
                            <input style="width: 50%; margin-top: 20%; border-color: transparent; " type="text" name="marks" id="marks" value="@paramEval.Mark" />
                        </td>

                    }
                </tr>
            }
        </tbody>
    </table>

</form>
 