@model Perfomans.Models.Departments
@using Perfomans.Models

<div style="margin-top:1.5em" class="container">
    <div class="row">
        <div class="col">
            @using (Html.BeginForm("Progress", "Departments", FormMethod.Get))
            {
                <input type="hidden" id="DepId" name="DepId" value="@Model.Id" />
                <input type="hidden" id="Direction" name="Direction" value="1" />
                <button type="submit" style="width:100%; display:inline" class="SecondaryB">
                    <i class="chevron up icon"></i>
                </button>
            }
        </div>
        <div class="col">

            @using (Html.BeginForm("Progress", "Departments", FormMethod.Get))
            {
                <input type="hidden" id="Direction" name="Direction" value="0" />
                <input type="hidden" id="DepId" name="DepId" value="@Model.Id" />
                <button style="width:100%; display:inline" type="submit" class="SecondaryB">
                    <i class="chevron down icon"></i>
                </button>
            }
        </div>
        <div class="col">

        </div>
    </div>
</div>

            <table class="ui compact celled table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Sourname</th>
                        <th>Perfomances</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (User user in Model.User)
                    {
                        if (user.DepartmentId == Model.Id)
                        {
                        <tr>
                            <td>
                                @user.Name
                            </td>
                            <td>
                                @user.SourName
                            </td>
                            <td>
                                @*@foreach (DepartmentParameters deparameters in Model.DepartmentParameters)

                                {
                                    @foreach (Evaluations evaluations in ViewBag.Evaluations)
                                    {
                                        if ((deparameters.ParameterId == evaluations.ParameterId) & (evaluations.UserId == user.Id))
                                        {
                                            @evaluations.Parameter.Name <span>-</span> @evaluations.Mark

                                        }
                                    }
                                    <br />
                                }*@
                            </td>
                            <td>
                                @if (@user.progress == -1)
                                {
                                    <i class="chevron down icon"></i>
                                }
                                @if (@user.progress == 1)
                                {
                                    <i class="chevron up icon"></i>
                                }
                                @if (@user.progress == 0)
                                {
                                    <i class="minus icon"></i>
                                }
                            </td>

                        </tr>
                        }
                    }

                </tbody>
            </table>