@model Perfomans.Models.Parameters

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parameters</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coefficient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coefficient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark_1_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark_1_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark_2_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark_2_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark_3_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark_3_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark_4_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark_4_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark_5_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark_5_description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
